body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #111;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    font-size: 16px;
    color: #444;
}

.links a {
    color: #1a73e8;
    text-decoration: none;
}
.publications-list {
  list-style: none;
  padding-left: 0;
}

.publication-item {
  margin-bottom: 40px; /* space between publications */
}

.publication-image {
  width: 100%;
  max-width: 500px; /* keeps it from being too big */
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: block;
}


.links a:hover {
    text-decoration: underline;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

h3 {
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
}

.date {
    color: #666;
    font-size: 14px;
}

/* Optional profile image */
.profile-img {
    width: 140px;
    border-radius: 50%;
}
